################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorAthena/obj/Debug/net7.0
/ResturantAthena/obj/Debug/net7.0
ResturantAthena/ResturantAthena.csproj.user
ResturantAthena/obj/ResturantAthena.csproj.nuget.g.props
ResturantAthena/obj/ResturantAthena.csproj.nuget.dgspec.json
ResturantAthena/obj/project.nuget.cache
ResturantAthena/obj/project.assets.json
ResturantAthena/obj/Debug/net7.0/ResturantAthena.GeneratedMSBuildEditorConfig.editorconfig
ResturantAthena/obj/Debug/net7.0/ResturantAthena.csproj.AssemblyReference.cache
ResturantAthena/obj/Debug/net7.0/ResturantAthena.assets.cache
ResturantAthena/obj/Debug/net7.0/ResturantAthena.AssemblyInfoInputs.cache
ResturantAthena/.vs/ResturantAthena/FileContentIndex/6476343f-adea-4c2b-929e-b379edf5b6cd.vsidx
BlazorAthena/obj/project.nuget.cache
BlazorAthena/obj/project.assets.json
BlazorAthena/obj/Debug/net7.0/BlazorAthena.RazorAssemblyInfo.cache
BlazorAthena/obj/Debug/net7.0/BlazorAthena.GeneratedMSBuildEditorConfig.editorconfig
BlazorAthena/obj/Debug/net7.0/BlazorAthena.csproj.AssemblyReference.cache
BlazorAthena/obj/Debug/net7.0/BlazorAthena.assets.cache
BlazorAthena/obj/Debug/net7.0/BlazorAthena.AssemblyInfoInputs.cache
BlazorAthena/obj/Debug/net7.0/BlazorAthena.AssemblyInfo.cs
BlazorAthena/obj/BlazorAthena.csproj.nuget.g.props
BlazorAthena/obj/BlazorAthena.csproj.nuget.dgspec.json
BlazorAthena/obj/BlazorAthena.csproj.EntityFrameworkCore.targets
BlazorAthena/bin/Debug/net7.0/BlazorAthena.staticwebassets.runtime.json
BlazorAthena/bin/Debug/net7.0/BlazorAthena.pdb
BlazorAthena/bin/Debug/net7.0/BlazorAthena.exe
BlazorAthena/bin/Debug/net7.0/BlazorAthena.dll
BlazorAthena/bin/Debug/net7.0/appsettings.json
BlazorAthena/appsettings.json
BlazorAthena/.vs/BlazorAthena/v17/.suo
BlazorAthena/.vs/BlazorAthena/FileContentIndex/read.lock
BlazorAthena/.vs/BlazorAthena/FileContentIndex/f81edcf8-f6a2-48aa-b640-a26e65649135.vsidx
BlazorAthena/.vs/BlazorAthena/FileContentIndex/50a299ac-f4c5-4876-9e80-b39356b01c2d.vsidx
BlazorAthena/.vs/BlazorAthena/FileContentIndex/10fcef64-2000-4b1c-80c3-4f0d3fbf26ea.vsidx
BlazorAthena/.vs/BlazorAthena/FileContentIndex/08594f70-1c3b-4c25-b4c4-febd4bedc176.vsidx
BlazorAthena/.vs/BlazorAthena/FileContentIndex/10fcef64-2000-4b1c-80c3-4f0d3fbf26ea.vsidx
BlazorAthena/.vs/BlazorAthena/FileContentIndex/50a299ac-f4c5-4876-9e80-b39356b01c2d.vsidx
BlazorAthena/.vs/BlazorAthena/FileContentIndex/f81edcf8-f6a2-48aa-b640-a26e65649135.vsidx
BlazorAthena/.vs/BlazorAthena/FileContentIndex/read.lock
BlazorAthena/.vs/BlazorAthena/v17/.suo
BlazorAthena/appsettings.json
BlazorAthena/bin/Debug/net7.0/appsettings.json
BlazorAthena/bin/Debug/net7.0/BlazorAthena.dll
BlazorAthena/bin/Debug/net7.0/BlazorAthena.exe
BlazorAthena/bin/Debug/net7.0/BlazorAthena.pdb
BlazorAthena/bin/Debug/net7.0/BlazorAthena.staticwebassets.runtime.json
BlazorAthena/obj/BlazorAthena.csproj.nuget.dgspec.json
BlazorAthena/obj/BlazorAthena.csproj.nuget.g.props
BlazorAthena/obj/Debug/net7.0/BlazorAthena.AssemblyInfo.cs
BlazorAthena/obj/Debug/net7.0/BlazorAthena.AssemblyInfoInputs.cache
BlazorAthena/obj/Debug/net7.0/BlazorAthena.assets.cache
BlazorAthena/obj/Debug/net7.0/BlazorAthena.csproj.AssemblyReference.cache
BlazorAthena/obj/Debug/net7.0/BlazorAthena.GeneratedMSBuildEditorConfig.editorconfig
BlazorAthena/obj/Debug/net7.0/BlazorAthena.RazorAssemblyInfo.cache
BlazorAthena/obj/project.assets.json
BlazorAthena/obj/project.nuget.cache
ResturantAthena/obj/Debug/net7.0/ResturantAthena.AssemblyInfoInputs.cache
ResturantAthena/obj/Debug/net7.0/ResturantAthena.assets.cache
ResturantAthena/obj/Debug/net7.0/ResturantAthena.csproj.AssemblyReference.cache
ResturantAthena/obj/Debug/net7.0/ResturantAthena.GeneratedMSBuildEditorConfig.editorconfig
ResturantAthena/obj/project.assets.json
ResturantAthena/obj/project.nuget.cache
ResturantAthena/obj/ResturantAthena.csproj.nuget.dgspec.json
ResturantAthena/obj/ResturantAthena.csproj.nuget.g.props
ResturantAthena/ResturantAthena.csproj.user
