################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorAthena/obj/Debug/net7.0
/ResturantAthena/obj/Debug/net7.0
